In [9]:
import pandas as pd

In [10]:
dataset = pd.read_csv("IowaLiquorSales.csv")

C:\Users\maksp\AppData\Local\Temp\ipykernel_4940\2598868326.py:1: DtypeWarning: Columns (6,14) have mixed types. Specify dtype option on import or set low_memory=False.
  dataset = pd.read_csv("IowaLiquorSales.csv")

In [11]:
dataset.shape

(29445098, 24)

In [12]:
dataset.head()

,Invoice/Item Number,Date,Store Number,Store Name,Address,City,Zip Code,Store Location,County Number,County,...,Item Number,Item Description,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons)
0,INV-27000400013,05/04/2020,5815,SUPER STOP IV - DUBUQUE,535 HILL STREET SUITE A,DUBUQUE,52001,POINT (-90.673985 42.496794),31.0,DUBUQUE,...,24454,KESSLER BLEND WHISKEY,24,375,3.15,4.73,24,113.52,9.00,2.37
1,INV-27031700024,05/05/2020,5701,THE HUT 23,603 10TH STREET,ONAWA,51040,POINT (-96.097184 42.03192),67.0,MONONA,...,35918,FIVE O'CLOCK VODKA,6,1750,7.20,10.80,6,64.80,10.50,2.77
2,INV-27040200220,05/05/2020,2572,HY-VEE FOOD STORE / CEDAR FALLS,6301 UNIVERSITY,CEDAR FALLS,50613,POINT (-92.435236 42.512789),7.0,BLACK HAWK,...,80236,IOWISH CREAM LIQUEUR,6,750,10.17,15.26,6,91.56,4.50,1.18
3,INV-26985600020,05/04/2020,5665,NEW STAR / FORT DODGE,1923 5TH AVE S,FORT DODGE,50501,POINT (-94.170859 42.501169),94.0,WEBSTER,...,81124,99 PEPPERMINT MINI,10,50,6.00,9.00,1,9.00,0.05,0.01
4,INV-27006600062,05/04/2020,2616,HY-VEE FOOD AND DRUG / CLINTON,901 SOUTH 4TH ST,CLINTON,52732,POINT (-90.193204 41.836268000000004),23.0,CLINTON,...,41846,EVERCLEAR 151,12,750,8.00,12.00,24,288.00,18.00,4.75

## Renaming columns

In [13]:
dataset.columns = ['invoice', 'date', 'store_number', "store_name", "address",
                    "city", "zip_code", "store_location", "county_number", "county",
                    "category", "category_name", "vendor_number", "vendor_name", "item_number",
                    "item_description", "pack", "bottle_volume_ml", "state_bottle_cost",
                    "state_bottle_retail", "bottles_sold", "sale", "volume_sold_liters", "volume_sold_gallons"]

## Null records

In [21]:
dataset.isna().sum()

invoice                0
date                   0
store_number           0
store_name             0
address                0
city                   0
county                 0
category               0
category_name          0
vendor_number          0
vendor_name            0
item_number            0
item_description       0
pack                   0
bottle_volume_ml       0
state_bottle_cost      0
state_bottle_retail    0
bottles_sold           0
sale                   0
volume_sold_liters     0
volume_sold_gallons    0
dtype: int64

Store location and county Number columns have a lot of null values (more than 10%) and as exact geographical location, zip code and county number is not needed for analysis, these columns can be dropped. The rest of the records that have NA values are representing about 0.3% of whole dataset so these can be dropped too.

In [10]:
(100000/28000000)*100

0.35714285714285715

In [15]:
dataset.drop("store_location", axis = 1, inplace=True)

In [16]:
dataset.drop("county_number", axis = 1, inplace=True)

In [17]:
dataset.drop("zip_code", axis = 1, inplace=True)

In [18]:
dataset.shape

(29445098, 21)

In [19]:
dataset.dropna(inplace=True)

In [20]:
dataset.shape

(29260539, 21)

# Misspelled words (city, store_name, item_description)

Three columns have text values, so it's important to try checking them for misspelled words.

In [22]:
dataset.dtypes

invoice                 object
date                    object
store_number             int64
store_name              object
address                 object
city                    object
county                  object
category               float64
category_name           object
vendor_number          float64
vendor_name             object
item_number             object
item_description        object
pack                     int64
bottle_volume_ml         int64
state_bottle_cost      float64
state_bottle_retail    float64
bottles_sold             int64
sale                   float64
volume_sold_liters     float64
volume_sold_gallons    float64
dtype: object

In [23]:
print(f"city {dataset['city'].nunique()}")
print(f"store_name {dataset['store_name'].nunique()}")
print(f"item_description {dataset['item_description'].nunique()}")

city 491
store_name 3287
item_description 12548

In [26]:
dataset['city'].value_counts()

city
DES MOINES          2500878
CEDAR RAPIDS        1900770
DAVENPORT           1243294
WATERLOO             914778
WEST DES MOINES      863513
                     ...
RENWICK                  40
BADGER                   29
ALVORD                   10
DUNCOMBE                  6
COLORADO SPRINGS          2
Name: count, Length: 491, dtype: int64

In [27]:
print(f"store_name {dataset['store_name'].value_counts()}")

store_name store_name
HY-VEE #3 / BDI / DES MOINES            241081
CENTRAL CITY 2                          209355
CENTRAL CITY LIQUOR, INC.               179360
HY-VEE FOOD STORE / CEDAR FALLS         155500
HY-VEE WINE AND SPIRITS / BETTENDORF    152712
                                         ...
THOME ENTERPRISES LLC                        2
BEST CASE WINES                              2
HY-VEE WINE AND SPIRITS / WATERLOO!          1
HONEY CREEK DISTILLERY                       1
SAM'S CLUB 4973 / DUBUQUE9                   1
Name: count, Length: 3287, dtype: int64

In [26]:
print(f"item_description {dataset['item_description'].value_counts()}")

item_description item_description
Titos Handmade Vodka              66878
Black Velvet                      65916
Fireball Cinnamon Whiskey         56900
Hawkeye Vodka                     53017
Captain Morgan Original Spiced    40539
                                  ...
Sweet Carolina Sweet Tea Vodka        1
Glengoyne 30 YO                       1
Minglewood Apple Whisky               1
Dictador Insolent                     1
Adictivo Extra Anejo Black            1
Name: count, Length: 4029, dtype: int64

In [24]:
dataset.to_csv("IowaLiquorSales_cleaned.csv", index=False)

After removing null values data is seems great and clean.